* {
  font-style: italic;
}
#body1 {
  background-image: url(https://cdn.pixabay.com/photo/2017/06/26/12/49/red-wine-2443699_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
#toolbar {
  text-align: center;
  display: flex;
    justify-content: space-evenly;
}
#firstpage {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
height: 100vh;
width: 30vw;
}
a:link {
  color: brown;
}
a:visited {
  color: brown;
}
a:hover {
  color: lightskyblue;
}
#body2 {
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
}
#menuimg {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
.img {
  width: 200px;
  height: 200px;
}
#body3 {
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}
#faq {
  text-align: center;
  color: black;
  background-color: beige;
  width: 70%;
  margin-left: 15%;
  height: 100vh;
}
#contact {
  text-align: center;
  color: black;
  background-color: beige;
  width: 70%;
  margin-left: 15%;
  height: 100vh;
}
#terms {
  display: flex;
  justify-content: space-evenly;
}
.special {
  position: relative;
}
.nog {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: yellow;
}