* {
  font-style: italic;
}
#body1 {
  background-image: url(https://cdn.pixabay.com/photo/2017/02/13/22/27/milk-splash-2064088_1280.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  background-attachment: fixed;
  position: relative;
  z-index: 2;
}
#toolbar {
  text-align: center;
  display: flex;
  justify-content: center;
  width: 69vw;
  float: right;
  padding-right: 12vw;
  
}
#tb-btn {
   background-color: lightskyblue;
   margin: 10px;
}
#firstpagedad {
  height: 100vh;
}
#firstpage {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  height: 100vh;
  width: 30vw;
  transition:ease-in-out;
  transition-duration: 700ms;
}
#firstpage:hover {
  color: aqua;
}
a {
  transition:ease-in-out;
  transition-duration: 700ms;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  color: blue;
}
#body2 {
  height: 100vh;
  background-image: url(https://cdn.pixabay.com/photo/2019/04/10/11/56/watercolor-4116932_1280.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
  display: flex;
}
#menuimg {
  text-align: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}
#menutext {
  transition:ease-in-out;
  transition-duration: 700ms;
}
#menutext:hover {
  color: aqua;
}
.img {
  width: 200px;
  height: 200px;
}
#body3 {
  background: #005AA7; 
  background: -webkit-linear-gradient(to left, #FFFDE4, #005AA7);
  background: linear-gradient(to left, #FFFDE4, #005AA7); 
  display: flex;
  height: 100vh;
}
#faq {
  text-align: center;
  color: black;
  width: 70%;
  margin-left: 15%;
  height: 100vh;
}
#faq-p {
  transition:ease-in-out;
  transition-duration: 600ms;
}
#faq-p:hover {
color: blue;
background-color: black;
}
#contact {
  text-align: center;
  color: black;
  width: 70%;
  margin-left: 15%;
  height: 100vh;
}
#terms {
  display: flex;
  justify-content: space-evenly;
}
.special {
  position: relative;
}
#nog {
  z-index: 2;
  position: relative;
  transition:ease-in-out;
  transition-duration: 300ms;
}
#nog-sign {
  width: 30px;
  height: 30px;
  position: absolute;
  right: 40%;
  top: 40%;
  z-index: 1;
}
#nog:hover {
  z-index: 1;
  height: 210px;
  width: 210px;
}
#goup {
  position: fixed;
  background-color: lightskyblue;
  z-index: 1; 
}
#sendbtn {
  padding: 1rem;
  background-color: blue;
  color: aliceblue;
  transition: ease-in-out;
  transition-duration: 500ms;
}
#sendbtn:hover {
  color: black;
  background-color: aqua;
}
@media only screen and (max-width:768px) {
  #body1 {
    background-size: cover;
  }
  #firstpagedad {
    height: 107vh;
  }
  #body2 {
    height: 220vh;
    width: 100vw;
    background-size: cover;
  }
  #body3 {
    height: 150vh;
  }
  #faq {
    height: 150vh;
  }
  #contact {
    height: 150vh;
  }
  #firstpage {
    height: 107vh;
  }
}
#inputs {
  background-color: rgba(70, 70, 125, 0.3);
  border-color: black;
  border-style: dotted;
  transition: ease-in-out;
  transition-duration: 500ms;
}
#inputs:hover {
  background-color: rgba(9, 32, 237, 0.6);
}
